<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://code.alibabatech.com/schema/dubbo
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="propertyConfig"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config/dubbo.properties</value>
            </list>
        </property>
    </bean>
    <!-- 定义当前的应用的名称，主要是用于注册中心的信息保存，这个名称可以任意填写 -->
    <dubbo:application name="${dubbo.application.name}" />
    <!-- 定义dubbo注册中心的地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />
    <!-- 定义dubbo所在的服务执行时暴露给客户端的端口 -->
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" />
    <dubbo:reference id="myMsg" interface="com.macfu.remoteapi.IMessage"
                     version="${dubbo.interface.version}" />
</beans>